@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* Colors
00425A
1F8A70
BFDB38
FC7300 
*/

body {
    font-family: 'Play', sans-serif;
    background-color: #00425A;
}


/* Seccion de seleccionar mascota */
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 40px;
}

.subtitulo {
    color: white;
    font-size: 32px;
}

.labels-mokepons {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.labels-mokepons div {
    display: flex;
}

.labels-mokepons input {
    display: none;
}

.label-mokepon {
    width: 175px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #1F8A70;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px black solid;
    border-radius: 10px;
    color: whitesmoke;
}


.label-mokepon img {
    width: 80px;
}

input {
    display: block;
}

#boton-mascota {
    display: block;
    height: 60px;
    width: 200px;
    box-sizing: border-box;
    background-color: #FC7300 ; 
    border: 2px #FC7300 solid;
    margin: 10px;
    color: white;
    border-radius: 50px;

    font-family: 'Play', sans-serif;
    font-size: 25px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.botones-de-ataque {
    display: flex;
    gap: 15px;
}

.boton-de-ataque {
    background-color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border-color: transparent;
    opacity: 0.9;
    box-shadow: #FC7300;

    font-family: 'Play', sans-serif;
    font-size: 18px;
}

#mensaje {
    background: #1F8A70;
    margin: 20px;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Play', sans-serif;
    color: white;

}

#boton-reiniciar {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    background-color: #FC7300;
    border-radius: 15px;

    font-family: 'Play', sans-serif;
    font-size: 18px;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    margin: 20px;
    gap: 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
    color: white;
    
}

#mascota-jugador, #mascota-enemigo {
    font-size: 26px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 18px;
}


@media (max-width: 360px) {
    .labels-mokepons div, .botones-de-ataque{
        flex-direction: column;
    }
}

/* Colors
00425A
1F8A70
BFDB38
FC7300 
*/